<!DOCTYPE html>
<html lang="en">
<head>
    <title>商品详情</title>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Questrial:400%7CMontserrat:300,400,700,700i' rel='stylesheet'>

    <!-- Css -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/font-icons.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/color.css" />

</head>

<body>

<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
    </div>
</div>


<!-- Mobile Sidenav -->
<header class="sidenav" id="sidenav">
    <!-- Search -->
    <div class="sidenav__search-mobile">
        <form method="get" class="sidenav__search-mobile-form">
            <input type="search" class="sidenav__search-mobile-input" placeholder="Search..." aria-label="Search input">
            <button type="submit" class="sidenav__search-mobile-submit" aria-label="Submit search">
                <i class="ui-search"></i>
            </button>
        </form>
    </div>

    <nav>
        <ul class="sidenav__menu" role="menubar">
            <li>
                <a href="#" class="sidenav__menu-link">Men</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown">
                    <li><a href="#" class="sidenav__menu-link">T-shirt</a></li>
                    <li><a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a></li>
                    <li><a href="#" class="sidenav__menu-link">Suits</a></li>
                    <li><a href="#" class="sidenav__menu-link">Shorts</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="sidenav__menu-link">Women</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown">
                    <li><a href="#" class="sidenav__menu-link">Underwear</a></li>
                    <li><a href="#" class="sidenav__menu-link">Hipster</a></li>
                    <li><a href="#" class="sidenav__menu-link">Dress</a></li>
                    <li><a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a></li>
                    <li><a href="#" class="sidenav__menu-link">Tees</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="sidenav__menu-link">Accessories</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown">
                    <li>
                        <a href="#" class="sidenav__menu-link">All accessories</a>
                        <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                        <ul class="sidenav__menu-dropdown">
                            <li>
                                <a href="#" class="sidenav__menu-link">Wallets</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Scarfs</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Shirt</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Shoes</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="sidenav__menu-link">for her</a>
                        <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                        <ul class="sidenav__menu-dropdown">
                            <li>
                                <a href="#" class="sidenav__menu-link">Underwear</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Hipster</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Dress</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Tees</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="sidenav__menu-link">for him</a>
                        <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                        <ul class="sidenav__menu-dropdown">
                            <li>
                                <a href="#" class="sidenav__menu-link">T-shirt</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Hoodie &amp; Jackets</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Dress</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Suits</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Shorts</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="sidenav__menu-link">Watches</a>
                        <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                        <ul class="sidenav__menu-dropdown">
                            <li>
                                <a href="#" class="sidenav__menu-link">Smart Watches</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Diving Watches</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Sport Watches</a>
                            </li>
                            <li>
                                <a href="#" class="sidenav__menu-link">Classic Watches</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#" class="sidenav__menu-link">News</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown">
                    <li><a href="#" class="sidenav__menu-link">Blog Standard</a></li>
                    <li><a href="#" class="sidenav__menu-link">Single Post</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="sidenav__menu-link">Pages</a>
                <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
                <ul class="sidenav__menu-dropdown">
                    <li><a href="catalog.html" class="sidenav__menu-link">Catalog</a></li>
                    <li><a href="single-product.html" class="sidenav__menu-link">Single Product</a></li>
                    <li><a href="#" class="sidenav__menu-link">Cart</a></li>
                    <li><a href="#" class="sidenav__menu-link">Checkout</a></li>
                    <li><a href="#" class="sidenav__menu-link">About</a></li>
                    <li><a href="#" class="sidenav__menu-link">Contact</a></li>
                    <li><a href="#" class="sidenav__menu-link">Login</a></li>
                    <li><a href="#" class="sidenav__menu-link">FAQ</a></li>
                    <li><a href="#" class="sidenav__menu-link">404</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="sidenav__menu-link">Sign In</a>
            </li>
        </ul>
    </nav>
</header> <!-- end mobile sidenav -->


<main class="main oh" id="main">

{{yield}}

</main> <!-- end main-wrapper -->

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__widgets">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="widget widget__about">
                        <h4 class="widget-title white">about us</h4>
                        <p class="widget__about-text">Namira is a very slick and clean e-commerce template with endless possibilities.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="widget widget__newsletter">
                        <h4 class="widget-title white">get exclusive offers &amp; updates</h4>

                        <form class="mc4wp-form">
                            <div class="mc4wp-form-fields">
                                <p><input type="email" placeholder="Please enter your email address"></p>
                                <p><input type="submit" value="Subscribe"></p>
                            </div>
                        </form>

                        <div class="socials socials--white mt-20">
                            <a href="#" class="facebook"><i class="ui-facebook"></i></a>
                            <a href="#" class="twitter"><i class="ui-twitter"></i></a>
                            <a href="#" class="snapchat"><i class="ui-snapchat"></i></a>
                            <a href="#" class="instagram"><i class="ui-instagram"></i></a>
                            <a href="#" class="pinterest"><i class="ui-pinterest"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title white">help</h4>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Tract Order</a></li>
                            <li><a href="#">Returns &amp; Refunds</a></li>
                            <li><a href="#">Private Policy</a></li>
                            <li><a href="#">Shipping Info</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title white">information</h4>
                        <ul>
                            <li><a href="#">Our Stores</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Delivery Info</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">Namira Reviews</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end container -->

    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-sm-center">
              <span class="copyright">
                Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
              </span>
                </div>

                <div class="col-md-6 footer__payment-systems text-right text-sm-center mt-sml-10">
                    <i class="ui-paypal"></i>
                    <i class="ui-visa"></i>
                    <i class="ui-mastercard"></i>
                    <i class="ui-discover"></i>
                    <i class="ui-amex"></i>
                </div>
            </div>
        </div>
    </div> <!-- end bottom footer -->
</footer> <!-- end footer -->



<!-- jQuery Scripts -->
<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/easing.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/public/js/owl-carousel.min.js"></script>
<script type="text/javascript" src="/public/js/flickity.pkgd.min.js"></script>
<script type="text/javascript" src="/public/js/modernizr.min.js"></script>
<script type="text/javascript" src="/public/js/scripts.js"></script>

</body>
</html>
